.details {
    padding: 0 130px;

    & > h1 {
        margin-left: -300px;
        font-size: 1.9rem;
        margin-bottom: 15px;
        color:  $titles;
    }

    & > p {
        font-size: 1.16rem;
        margin-bottom: 30px;
    }
}