.search {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 600;

    &:focus {
        outline: none;
    }
}

.search-result {
    width: 100%;
    border-radius: 10px;
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 3px;
    color: titles;
    overflow: hidden;
}

.search-local {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > input {
        min-width: 100px;
    }

    & > button {
        margin: 15px;
        height: 50px;
        padding: 10px;
        background-color: darken($color: $button, $amount: 10);
        border: none;
        border-radius: 3px;
        color: $letters;
        font-weight: 700;
        cursor: pointer;
        margin-top: 6px;
        transition-duration: 0.25s;   

        &:hover {
            background-color: darken($color: $button, $amount: 20)
        }
    }
}
